.footer {
  @include media(767) {
    display: none;
  }
  background-color: $purpleColorFooter;
  z-index: 10;  
  width: 100%;
  &__extra-information {
    display: flex;
    &__wrapper {
      display: flex;
      @include adaptiveClamp (padding-top, 43, 33, 1920, 768, 1);
      @include adaptiveClamp (padding-right, 58, 18, 1920, 768, 1);
      @include adaptiveClamp (padding-bottom, 43, 13, 1920, 768, 1);
      justify-content: flex-end;
      width: 1496px;
    }
    &__about {
      margin-left: 36px;
      @include adaptiveClamp(width,520, 320, 1920, 768, 1);
      h3, h4 {
        color: $whiteColor;
      }
      p {
        color: $lightLigthGreyColor;
        margin: 10px 0;
      }
      &__social-media {
        display: flex;
        gap: 10px;
        margin-top: 10px;
      }
      &__social-media__wrapper {
        border-radius: 8px;
        background-color: $purpleColorSocialmedia;
        width: 50px;
        height: 50px;
      }
      .viber {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $redColor;
        }
        &::before {
          content: url(../images/viber.svg) ;
        }
      }
      .WhatsApp {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $redColor;
        }
        &::before {
          content: url(../images/whatsapp.png) ;
        }
      }
      .telegram {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $redColor;
        }
        &::before {
          content: url(../images/telegram.svg) ;
        }
      }
      .facebook {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $redColor;
        }
        &::before {
          content: url(../images/facebook.svg) ;
        }
      }
    }
    &__more-information {
      background-color: $purplelightColorFooter;
      width: 680px;
      padding: 23px 0 43px 15px;
      &__date {
        color: $lightLigthGreyColor;
        margin-top: 20px;
      }
      &__inside-date {
        color: $whiteColor;
        margin-top: 15px;
      }
    }
  }

  &__navigation {
    padding: 22px 0;
    background-color: $navigationBGColor;
    &__units {
      display: flex;
      justify-content: space-between;
      a {
        text-transform: uppercase;
      }
    }
  }

  &__license-agreement {
    padding: 25px 0;
    background-color: $redColor;
    &__units {
      display: flex;
      justify-content: space-between;
    }
    &__unit {
      display: flex;
      align-items: center;
      img {
        width: 80px;
        height: 51px;
      }
      p {
        width: 240px;
        margin-left:15px ;
        color: $whiteColor;
      }
    }
  }

}
