.employees {
    padding: 86px 0 160px 0;
    &__title {
        font-family: 'Liana', sans-serif;
    }
    &__subtitle {
        text-transform: uppercase;
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-around;
        @include adaptiveClamp (gap, 23, 0, 1920, 768, 1);
    }
    &__unit {
        @include adaptiveClamp (width, 394, 254, 1920, 768, 1);
    }
    &__unit-2 {
        @include adaptiveClamp (width, 360, 220, 1920, 768, 1);
    }
    &__unit-img-1 {
        @include adaptiveClamp (margin-top, 46, 23, 1920, 768, 1);
        @include adaptiveClamp (width, 394, 254, 1920, 768, 1);
    }
    &__unit-img-4 {
        @include adaptiveClamp (margin-top, 42, 22, 1920, 768, 1);
    }
    &__unit-img-5 {
        @include adaptiveClamp (margin-top, 240, 120, 1920, 768, 1);
    }
    &__unit-img-6 {
        @include adaptiveClamp (margin-top, 33, 16, 1920, 768, 1);
    }
    .img-width {
        @include adaptiveClamp (width, 360, 220, 1920, 768, 1);
    }
    &__wrapper::before {
        content: 'interior';
        position: absolute;
        @include media(845) {
            bottom: -10px;
            right: 250px;
        }
        bottom: 80px;
        right: 383px;
        @include adaptiveClamp (font-size, 170, 130, 1920, 768, 1);
        line-height: 54px;
        font-family: 'Philosopher';
        color: $blackColor;
    }
    &__wrapper::after {
        content: 'Design';
        position: absolute;
        @include media(845){
            bottom: -102px;
        }
        bottom: -44px;
        right: 100px;
        @include adaptiveClamp (font-size, 170, 130, 1920, 768, 1);
        line-height: 54px;
        font-family: 'Philosopher';
        color: $blackColor;
    }
}