.benefits {
    padding-top: 20px;
    text-align: center;
    &__items {
        display: flex;
        text-align: start;
    }
    &__first-item {
        margin: auto 0;
        &__title {
            font-weight: 600;
            @include adaptiveClamp (font-size, 20, 15, 1920, 768, 1);
            @include adaptiveClamp (line-height, 33, 22, 1920, 768, 1);
            border-bottom: 5px solid #434057;
            padding-bottom: 40px;
        }
        &__sub-title {
            margin-top: 20px;
        }
    }
    &__second-item > img {
        @include adaptiveClamp (width, 635, 380, 1920, 768, 1);
    }
    &__third-item {
        margin: auto 0;
        &__title {
            font-size: 20px;
            margin-bottom: 6px;
        }
        &__description {
            @include adaptiveClamp (margin-bottom, 20, 12, 1920, 768, 1);
        }
    }
}